<!DOCTYPE html>
<html lang="en">
<head>


</head>
<body>
<form action="https://www.youtube.com/" method="get" target="_blank">
    <button type="submit">Войти через Vk</button>
</form>
 <form action="https://oauth.vk.com/authorize?client_id=51514737&display=page&redirect_uri=http://localhost:8000&scope=notify,photos,email,mail&response_type=token&v=5.5.13" method="get" target="_blank">
      <button type="submit">Click me</button>
    </form>
<p> Я создал ссылку на
    <a href="https://oauth.vk.com/authorize?client_id=51514737&display=page&redirect_uri=http://localhost:8000&scope=notify,photos,email,mail&response_type=token&v=5.5.13">Вк</a>
</p>
</body>
</html>